<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="you!">
    <meta name="description" content="A simple HTML5 template for your website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link rel="icon" type="image/png" href="./favicon/favicon.png" -->
    <title>Your Starter</title>
</head>
<body>
    <!--Your code-->
    <script type="typescript/js" src="../script.js"></script>
</body>
</html>